/* Header
===================================*/

.jumbotron {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/congruent_pentagon.png');
  margin-bottom: 0;
}

#header-text {
  color: #187187;
  font-family:"Courier New", Courier, monospace;
  font-weight: bold;
}

.stretch {
    width:100%;
    height:100%;
}

.img-circle {
    background: url('../images/sloth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow:hidden;
    -webkit-border-radius:70px;
    -moz-border-radius:70px;
    border-radius:70px;
    width:150px;
    height:150px;

}

/* Nav bar
==================================*/

.navbar {
  margin-bottom: 0;

}

/* Projects
==================================*/
#projects {
  margin-top: 40px;
}

.container-fluid h2 {
  font-size: 60px;
  margin-bottom: 50px;
}

#projectDesign {
  background-color: lightblue;

}
